.container
    position: relative
    background: white
    display: flex
    width: 100%
    align-items: center
    // height: 20rem
    // grid-template-columns: repeat( 5 , 1fr )
    // grid-template-rows: repeat( 5 , 1fr )
    margin: 5px 0
    // border-bottom: 1px solid #aaaaaaaa
    // padding-bottom: 20px 

    &::after
        content: ''
        display: block
        height: 2px
        width: 100%
        background: #aaaaaa44
        position: absolute
        bottom: -5px

    .firstSec
        // height: 200px
        // background: #f00
        

    .midSec
        flex-grow: 3
        margin: auto 10px
        padding: 20px
        // background: blue

        .title
            font-size: 1.3em
            font-weight: 700

        .description
            font-size: 0.7rem
            margin: 10px 0

        .rating
            display: flex
            margin: 5px 0

            .star
                height: 20px
                color: #ff9100

        // .price
        //     font-weight: 800

        .prime
            display: flex
            align-items: center

            img
                width: 2rem
                margin: 0 10px 0 0
            
            p
                font-size: 0.7rem
                color: #444444dd

    .rtSec
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        // background: green
        height: 300px

        .btn
            // width: 50%
            // height: 1.2rem
            display: flex
            white-space: nowrap
            justify-content: center
            align-items: center
            // margin-top: auto
            padding: 10px 40px
            font-size: .8rem
            font-weight: 500
            background: var(--btnBg)
            cursor: pointer
            border: red 2px
            border-radius: 5px
            transition: all .2s ease
            color: white
            width: 90%
            margin: 20px 0
            

            &:hover
                background: var(--btnHoverBg)

            .icons
                width: 1.1rem
                height: 1.1rem
                margin-right: 10px 


@media screen and ( max-width: 600px )

    .container
        flex-direction: column
        padding: 5px
        // background-color: black        

        .firstSec
            // background: red
            // border: 2px solid red
            // height: 2rem
            
                

        .midSec
            grid-row: span 3   
            // padding: 10px
            margin: 0
            // background-color: yellow

        .rtSec
            // background: green
            height: 3rem
            flex-direction: row
            justify-content: space-between

            .btn
                margin: 5px
                width: 50%