.container
    background: #fff
    width: 100%
    height: 15rem
    margin-bottom: 20px
    // position: relative
    border-radius: 0.5rem

    .top
        display: flex
        align-items: center
        background-color: var(--topNavBgClr)
        height: 40%
        color: white
        padding: 0 1.2rem

        .p1
            
            &__t1
                font-weight: bold
            
            &__t2
                font-size: .7rem
                margin-top: .2rem
                color: #ddddddaa
        
        .p2
            flex-grow: 1
            // border: 2px solid #fff
            margin: 0 6rem
            
            &__t1
                font-weight: bold
            
            &__t2
                font-size: .7rem
                margin-top: .2rem
                color: #ddddddaa

        .p3
            color: #ddddddaa

    .mid
        padding: 20px 40px
        display: flex
        overflow-x: auto

        .image
            margin: 0 5px
            -o-object-fit: contain
            height: 6rem